li {
  display: inline;
}
* {
  margin: 0px;

  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: darkblue;
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}
.card {
  display: flex;
  flex: 1 0 200px;
  padding: 10px;
  background-color: salmon;
  flex-direction: row;
  margin: 20px;
  width: 1000px;
}

.aboutme {
  flex: 1;
  text-align: left;
  width: 120px;
  height: 300px;
  border-right: solid black 3px;
  margin-right: 10px;
}

.work {
  text-align: left;
  width: 120px;
  height: 300px;
  border-right: solid black 3px;
}
.contact {
  text-align: left;
  width: 120px;
  height: 300px;
  border-right: solid black 3px;
}

#info {
  text-decoration: underline;
}

article {
  text-align: center;
  flex: 8;
}

img {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  padding: 10px;
}
